.content {
  padding: 50px 0;
}

.empty {
  text-align: center;
  padding: 150px 0;
}

.field-group {
  margin-bottom: 20px;
}

.validate {
  label.error {
    color: red;
    font-size: .8rem;
  }
}

.pagination {
  display: block;
  margin: 20px 0;
  text-align: center;

  span,
  em,
  a {
    padding: 0 5px;
  }
}
