<div class="list-group-item clearfix">
  <div>
    <%= t('.title', id: ticket.id) %>
  </div>

  <div class="ml-auto">
    <%= t('.updated_at', when: time_ago_in_words(ticket.updated_at)) %>
  </div>
</div>
